* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("images/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  padding: 20px;
  line-height: 1.6;
  font-size: 17px;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  color: rgb(237, 235, 243);
}

h1,
h2,
h3 {
  font-family: monospace;
}

header,
main {
  max-width: 70%;
}

header {
  margin: 0 auto;
  background-color: rgb(14, 14, 14);
  border: 1px solid lightskyblue;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  padding: 10px;
  color: lightskyblue;
}

main {
  background-color: rgba(15, 15, 16, 0.75);
  border: 1px solid lightskyblue;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.6rem;
  margin-inline: auto;
}

h2 {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.3rem;
}

.blue {
  color: deepskyblue;
}

p {
  margin: 10px 0;
}

section {
  border-bottom: 1px solid lightskyblue;
  padding: 10px 20px;
}

section:last-of-type {
  border: 0;
}

.typewriter {
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 2s steps(6) forwards, blink 1s 2s step-end 3,
    hide-cursor 0s 4.5s forwards;
}

@media (max-width: 600px) {
  header,
  main {
    max-width: 98%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes hide-cursor {
  to {
    border-color: transparent;
  }
}
